* {
    box-sizing: border-box;
  }
  #map {
    width: 10%;
    margin-left: 60%;
    margin-right: 20%;
    margin-top: 50px;
    height: 150px;
    padding: 20%;
    background-color: grey;
  }
body {
  background-image: url("images/1.jpg");
}
#regForm {
  background-color: #273c75;
  opacity: 0.9;
  margin-left: 5%;
  font-family: Raleway;
  font-size: 24px;
  color:white;
  padding: 40px;
  width: 50%;
  min-width: 300px;
  float: left;
  height: 60%;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #44bd32;
  width: 150px;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 26px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 0px;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color:#9b59b6;
  opacity: 100%;
}