
/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    border-color: #f44336;;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
   /* width: 40%;  */
   width: 150px;
   height: 150px;;
    border-radius: 50%;
    margin-top: 40px;;
  }
  
  .container {
    padding: 16px;

    
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  
  }
  
  /* Modal Content/Box */
  .modal-content {
    /*background-color: #fefefe;  */
    background-image: url("images/grass1.jpg");
    background-repeat: no-repeat;
    background-size: 1100px 550px;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    /*border: 5px solid #888;  */
    border-radius: 5px;;
    width: 60%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  
  }
  #loginButt{
    background-color: rgb(56, 168, 90);
    width: 100px;;
    height: 50px;;
    border-color: rgb(56, 168, 90);;
  }
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
       background-color: rgba(247, 59, 59, 0.61);
       border-color: rgba(247, 59, 59, 0.61);;
    }
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  